:root{
    /*colors*/
    --text-green: #021b09;
    --dark-green: #17572a;
    --mid-green: #7AB68C;
    --off-white: #DCEBE1;

    /*fonts*/
    --lexend: "Lexend";

    /*sizing*/
    --small: 8px;
    --medium: 16px;
    --large: 20px;
    --xlarge: 30px;
    --xxlarge: 40px;
    --xxxlarge: 90px;
}
html{
    width: 300px;
    height: 400px;
    background-color: var(--off-white);
}

/*id selectors*/
#modeDropdown{
    font-family: var(--lexend);
    border: none;
}